--swiftversion 5
--tabwidth 2
--indent 2
--binarygrouping ignore
--octalgrouping ignore
--hexgrouping ignore
--hexliteralcase lowercase
--ifdef no-indent
--patternlet inline
--wrapparameters before-first
--wraparguments before-first
--wrapconditions preserve
--wrapcollections before-first
--disable wrapMultilineStatementBraces
--self init-only
--extensionacl on-declarations
--disable blankLinesAtStartOfScope
--disable trailingCommas
--decimalgrouping ignore
